    * {
        box-sizing: border-box;
    }
    
    body {
        background-color: #3BD12E;
        color: rgb(86, 36, 90);
        font-family: sans-serif;
    }
    
    .logo {
        font-family: 'Oswald', sans-serif;
        font-size: 40px;
        font-weight: 600;
        color: #C42ED1;
        text-align: center;
        padding: 10px 10px 25px 10px;
    }
    
    h2 {
        font-family: Verdana, Tahoma, sans-serif;
        font-weight: bold;
        font-size: 20px;
        padding-top: 10px;
        padding-bottom: 5px;
        text-align: center;
    }
    
    h3 {
        font-family: Verdana, Geneva, Tahoma, sans-serif;
        font-weight: bold;
        padding: 8px;
    }
    
    .navBar {
        text-align: center;
        background-color: burlywood;
    }
    
    .menu,
    li {
        text-align: center;
        display: inline-block;
        padding: 0px 5px;
    }
    
    .home {
        padding-left: 0;
    }
    
    .about {
        text-align: center;
    }
    
    .projects {
        text-align: center;
    }
    
    .screenshot {
        padding-top: 8px;
        height: 225px;
        width: 175px;
    }
    
    .wrapper {
        display: flex;
        flex-flow: row wrap;
        justify-content: space-evenly;
    }
    
    .stay-tuned {
        clear: both;
        padding-top: 10px;
    }
    
    .contact {
        clear: both;
    }
    
    .contact img {
        height: 50px;
        width: 50;
    }
    
    .contact-img {
        padding-top: 10px;
        display: flex;
        justify-content: space-around
    }
    
    .stay-tuned {
        visibility: hidden;
    }
    
    @media only screen and (min-width: 650px) {
        .menu,
        li {
            padding: 0 25px;
        }
        .stay-tuned {
            visibility: visible;
        }
    }
    
    @media only screen and (min-width: 800px) {
        .menu,
        li {
            padding: 0 50px;
        }
    }