    * {
        box-sizing: border-box;
    }
    
    body {
        background-image: url("images/nature-background.PNG");
        background-repeat: no-repeat;
        background-size: 100% 100%;
        color: rgb(86, 36, 90);
        font-family: sans-serif;
        margin-left: 20px;
    }
    
    .logo {
        font-family: 'Oswald', sans-serif;
        font-size: 40px;
        font-weight: 600;
        color: #C42ED1;
        text-align: center;
        padding: 10px 10px 25px 10px;
    }
    
    h2 {
        font-family: Verdana, Tahoma, sans-serif;
        font-weight: bold;
        font-size: 20px;
        padding-top: 10px;
        padding-bottom: 5px;
        text-align: center;
    }
    
    h3 {
        font-family: Verdana, Geneva, Tahoma, sans-serif;
        font-weight: bold;
        padding: 8px 0px;
    }
    
    .navBar {
        text-align: center;
    }
    
    .menu,
    li {
        text-align: center;
        display: inline-block;
        padding: 0px 5px;
    }
    
    .home {
        padding-left: 0;
    }
    
    .screenshot {
        padding-top: 8px;
        padding-left: 10px;
        height: 225px;
        width: 175px;
    }
    
    .wrapper {
        display: flex;
        flex-flow: row wrap;
        justify-content: center;
        margin-top: 10px;
    }
    
    .stay-tuned {
        text-align: center;
        padding-top: 10px;
    }
    
    .contact img {
        height: 50px;
        width: 50;
    }
    
    .contact-img {
        padding-top: 10px;
        display: flex;
        justify-content: space-around
    }
    
    section {
        margin: .5rem 0;
    }
    
    @media only screen and (min-width: 650px) {
        .menu,
        li {
            padding: 0 25px;
        }
    }
    
    @media only screen and (min-width: 800px) {
        .menu,
        li {
            padding: 0 50px;
        }
        .screenshot {
            height: 375px;
            width: 300px;
            margin-left: 20px;
        }
        section {
            margin: .5rem 4rem;
        }
    }
    
    @media only screen and (min-width: 1200px) {
        section {
            margin: .5rem 16rem;
        }
    }